
/* HTML */

body {
  background: url("/static/img/gradient-blue-top.png") repeat-x scroll 0 0 #DCE9F6;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
}

h1 {
  padding: 0 10px;
}

h2 {

}

p {
  max-width:700px;
  font-family: serif;
  font-size: 1.2em;
}

textarea, select {
  border-radius:2px;
  border:1px solid #ccc;
  background:#fff;
}

/* UTILS */

.break {clear:both;}

/* BUTTONS */

.button {
  text-decoration:none;
  text-shadow:0 -1px 0 rgba(0, 0, 0, .3);
  color:#fff;
  font-weight:bold;
  font-size:13px;
  line-height:18px;

  box-shadow:inset 0 1px 0 rgba(255,255,255,.15);
  
  border-radius:4px;
  border: 1px solid #666;
  
  padding:5px 10px;


  background: #5babe4; /* Old browsers */
  background: -moz-linear-gradient(top, #5babe4 0%, #2578b4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5babe4), color-stop(100%,#2578b4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5babe4 0%,#2578b4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5babe4 0%,#2578b4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5babe4 0%,#2578b4 100%); /* IE10+ */
  background: linear-gradient(top, #5babe4 0%,#2578b4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5babe4', endColorstr='#2578b4',GradientType=0 ); /* IE6-9 */
}

.button:hover, .button:focus {
  background: #56a4d8; /* Old browsers */
  background: -moz-linear-gradient(top, #56a4d8 0%, #216ba0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56a4d8), color-stop(100%,#216ba0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #56a4d8 0%,#216ba0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #56a4d8 0%,#216ba0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #56a4d8 0%,#216ba0 100%); /* IE10+ */
  background: linear-gradient(top, #56a4d8 0%,#216ba0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56a4d8', endColorstr='#216ba0',GradientType=0 ); /* IE6-9 */
}

.button:active {
  background: #216ba0; /* Old browsers */
  background: -moz-linear-gradient(top, #216ba0 0%, #56a4d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#216ba0), color-stop(100%,#56a4d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #216ba0 0%,#56a4d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #216ba0 0%,#56a4d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #216ba0 0%,#56a4d8 100%); /* IE10+ */
  background: linear-gradient(top, #216ba0 0%,#56a4d8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216ba0', endColorstr='#56a4d8',GradientType=0 ); /* IE6-9 */
}

.bad-button {
  text-shadow:0 -1px 0 rgba(0, 0, 0, .3);
  color:#fff;

  box-shadow:inset 0 1px 0 rgba(255,255,255,.15);

  border: 1px solid #666;

  background: #e15858; /* Old browsers */
  background: -moz-linear-gradient(top, #e15858 0%, #b72828 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e15858), color-stop(100%,#b72828)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e15858 0%,#b72828 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e15858 0%,#b72828 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e15858 0%,#b72828 100%); /* IE10+ */
  background: linear-gradient(top, #e15858 0%,#b72828 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e15858', endColorstr='#b72828',GradientType=0 ); /* IE6-9 */
}

.bad-button:hover, .bad-button:focus {
  background: #d15353; /* Old browsers */
  background: -moz-linear-gradient(top, #d15353 0%, #a52424 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d15353), color-stop(100%,#a52424)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d15353 0%,#a52424 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d15353 0%,#a52424 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d15353 0%,#a52424 100%); /* IE10+ */
  background: linear-gradient(top, #d15353 0%,#a52424 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d15353', endColorstr='#a52424',GradientType=0 ); /* IE6-9 */
}

.bad-button:active {
  background: #b72828; /* Old browsers */
  background: -moz-linear-gradient(top, #b72828 0%, #e15858 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b72828), color-stop(100%,#e15858)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b72828 0%,#e15858 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b72828 0%,#e15858 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b72828 0%,#e15858 100%); /* IE10+ */
  background: linear-gradient(top, #b72828 0%,#e15858 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b72828', endColorstr='#e15858',GradientType=0 ); /* IE6-9 */
}

/* CORE ELEMENTS */

#sidebar {
  background: #fefefe;
  width: 220px;
  position:fixed;
  top:0;
  bottom:0;
  box-shadow: 0 0 10px #333;
  padding: 60px 0;
}

#sidebar p {
  padding: 5px 10px;
}

#main {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px #333;
  top: 30px;
  left:250px;
  right:30px;
  padding: 0 20px 30px;
  
  position:absolute;
}

#content {
  color: #333;
  overflow: hidden;
  z-index: 0;
}

.footer {
  width: 200px;
  height: 30px;
  position:fixed;
  bottom:0;
  left:0;
  font-size:80%;
  padding: 10px 10px 0;
  text-align:right;
}

.footer a {
  text-decoration:none;
  color:#333;
}

.footer a:hover {
  color:#3030c0;
}

.main-menu {
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
  border-bottom:1px solid #ddd;
}

.main-menu > * {
  display:block;
}

.main-menu lh {
  border-top:1px solid #ddd;
  height:20px;
  padding: 15px 10px 5px;
  font-weight:bold;
  color: #222;
}

.main-menu li {
  margin:0;padding:0;
  border-top:1px solid #ddd;
  display:block;
}

.main-menu li a {
  display:block;
  background: white;
  padding: 6px 10px 5px;
  text-decoration:none;
  color:#269626;
}

.main-menu li a:hover {
  border-right: 5px solid #ccc;
}

.main-menu li a.current {
  border-right: 5px solid #269626;
}


.bigdate-time,.bigdate-day-month,.bigdate-year {
  display:block;
  clear:both;
  text-align:right;
  width:100%;
  color:#333;
  line-height:20px;
}

.bigdate-time, .bigdate-year {
  font-size:75%;
  font-weight:normal;
}

.bigdate-year {
  letter-spacing: 1px;
}


.progress-bar { 
  width: 95%; 
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.progress-bar .progress {
  height:100%;  
  background: #b72828; /* Old browsers */
  background: -moz-linear-gradient(top, #b72828 0%, #e15858 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b72828), color-stop(100%,#e15858)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b72828 0%,#e15858 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b72828 0%,#e15858 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b72828 0%,#e15858 100%); /* IE10+ */
  background: linear-gradient(top, #b72828 0%,#e15858 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b72828', endColorstr='#e15858',GradientType=0 ); /* IE6-9 */
}

ul.tool-table {
  list-style: none;
  padding:5px 5px 10px;
  margin: 0;
  clear:both;
}

ul.tool-table > * {
  clear:both;
  border-bottom: 1px solid #ddd;
}

ul.tool-table-row {
  list-style:none;
  margin:0;
  padding:0;
  clear:both;
}

ul.tool-table-row > lh {
  font-size:0.9em;
}

ul.tool-table-row > lh > a {
  font-weight:bold;
  font-size:1.2em;
}

ul.tool-table-row > * {
  float:left;
  line-height: 1.9em;
  padding-right: 10px;
}



.tool-bdc-q { width:130px;}
.tool-bdc-q-description { width:400px;}
.tool-bdc-q-answer { width:150px; }

.tool-nas-s { width:110px;}
.tool-nas-s-description { width:450px;}
.tool-nas-s-answer { width:250px; }

.tool-nas-date, .tool-bdc-date { width: 8%; padding: 4px; }
.tool-nas-score, .tool-bdc-score { width: 5%; padding: 14px 4px; text-align:center; }
.tool-nas-progress-bar, .tool-bdc-progress-bar { width: 70%; padding: 15px 0; }

.tool-delete { width: 5%;  padding: 11px 0; }

.tool-twocolumn-name {
  width: 90%;
  padding: 14px 4px;
}

.tool-table-twocolumn-column_one, .tool-table-twocolumn-column_two {
  width: 400px;
}

.tool-table-twocolumn-column_one textarea, .tool-table-twocolumn-column_two textarea {
  width:390px;
  height:100px;
}

.tool-tct-form-cognitive_distortions select {
  height:120px;
  width:200px;
}

.tool-tct-form-automatic_thought textarea, .tool-tct-form-rational_response textarea {
  height: 120px;
  width: 95%;
}

.tool-tct-date { width: 8%; padding: 4px; }
.tool-tct-automatic_thought { width: 30%; }
.tool-tct-cognitive_distortions { width: 20%; }
.tool-tct-rational_response { width: 30%; }
.tool-tct-delete-entry, .tool-tct-create-entry { width: 5%; }


.tool-table-das-prospective textarea, .tool-table-das-retrospective textarea {
  height:4em;
  width:380px;
}

.tool-table-das-hour { width: 100px; }
.tool-table-das-prospective { width: 400px; }
.tool-table-das-retrospective { width: 400px; }

.tool-table-aps-predicted_difficulty, .tool-table-aps-predicted_satisfaction,
.tool-table-aps-actual_difficulty, .tool-table-aps-actual_satisfaction,
.tool-table-aps-predicted_difficulty input, .tool-table-aps-predicted_satisfaction input,
.tool-table-aps-actual_difficulty input, .tool-table-aps-actual_satisfaction input {
  width: 80px;
}

.tool-table-aps-activity, .tool-table-aps-activity input {
  width: 450px;
}
