{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans 'Novaco Anger Scale' %}</h2>
<a href="{% url tools:nas-create %}">{% trans 'Take test' %}</a>
<ul>
    {% for nas in nass %}
        <li>
            <a href="{% url tools:nas-view nas.id %}">{{ nas.timestamp }} ({{ nas.score }})</a>
            <form action="{% url tools:nas-delete nas.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Remove' %}" onclick="return confirm('{% trans 'Are you sure?' %}')" />
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
