{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Depression test' %}</h2>
<p>{% blocktrans %}Read each statement and choose how much you think it has applied to you during the past week. Make sure to answer each one as best you can, even if you are uncertain.{% endblocktrans %}</p>
<form action="" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
    {% for fieldset in form.fieldsets %}
      <ul class="tool-table fieldset_{{ fieldset.name }}">
          {% if fieldset.legend %}
              <lh><h3>{{ fieldset.legend }}</h3></lh>
          {% endif %}
          {% for field in fieldset %}
              {% if field.is_hidden %}
                  {{ field }}
              {% else %}
              <li{{ field.row_attrs }}>
                  {{ field.errors }}
                  <ul class="tool-table-row">
                      <lh class="tool-bdc-q">{{ field.label_tag }}</lh>
                      <li class="tool-bdc-q-description">{{ field.help_text }}</li>
                      <li class="tool-bdc-q-answer">{{ field }}</li>
                  </ul>
                  <div class="break" />
              </li>
              {% endif %}
          {% endfor %}
      </ul>
    {% endfor %}
    <div class="break"></div>
    <input type="submit" class="button" value="{% trans 'Save' %}" />
</form>
{% endblock %}
