{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans 'Anger test' %}</h2>
<ul class='tool-table'>
    <li>
        <ul class='tool-table-row'>
            <li class="tool-nas-date">
                <span class="bigdate-time">{{ nas.timestamp|date:"H:i" }}</span>
                <span class="bigdate-day-month">{{ nas.timestamp|date:"d M" }}</span>
                <span class="bigdate-year">{{ nas.timestamp|date:"Y" }}</span>
            </li>
            <li class="tool-nas-progress-bar">
                <div class="progress-bar">
                    <div class="progress" style="width:{{ nas.score }}%;">&nbsp;</div>
                </div>
            </li>
        </ul>
    </li>
    
    <li>
        {% for score, statement in nas.statements %}
            <ul class='tool-table-row'>
                <li class="tool-nas-date"></li>
                <li class="tool-nas-s-description">{{ statement.help_text }}</li>
                <li class='tool-nas-s-answer'>{{ score }}</li>
            </ul>
        {% endfor %}
        <ul class='tool-table-row'>
            <li class="tool-nas-date"></li>
            <li class="tool-nas-s-description">Total</li>
            <li class='tool-nas-s-answer'>{{ nas.score }}</li>
        </ul>
    </li>
    
</ul>

{% endblock %}
