{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Record of automatic thoughts' %}</h2>
<form action="{% url tools:triplecolumn-create %}" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    
    <ul class="tool-table">
        <li>
            <ul class="tool-table-row">
                <li class="tool-tct-date">&nbsp;</li>
                <lh class="fieldWrapper tool-tct-automatic_thought">{% trans 'Automatic thought' %}</lh>
                <lh class="fieldWrapper tool-tct-cognitive_distortions">{% trans 'Distortions' %}</lh>
                <lh class="fieldWrapper tool-tct-rational_response">{% trans 'Rational response' %}</lh>
                <lh class="tool-tct-create-entry"></lh>
            </ul>
            <div class="break" />
        </li>
        <li>
            <ul class="tool-table-row">
                <li class="tool-tct-date">&nbsp;</li>
                {% for field in form.visible_fields %}
                    <li class="fieldWrapper tool-tct-{{ field.name }} tool-tct-form-{{ field.name }}">
                        {{ field.errors }}
                        {{ field }}
                    </li>
                {% endfor %}
                <li class="tool-tct-create-entry"><input type="submit" class="button" value="{% trans 'Save' %}" /></li>
            </ul>
            <div class="break" />
        </li>
    </ul>
    
</form>
<ul class="tool-table">
    {% for entry in entries %}
        <li>
            <ul class="tool-table-row">
                <li class="tool-tct-date">
                    <span class="bigdate-time">{{ entry.timestamp|date:"H:i" }}</span>
                    <span class="bigdate-day-month">{{ entry.timestamp|date:"d M" }}</span>
                    <span class="bigdate-year">{{ entry.timestamp|date:"Y" }}</span>
                </li>
                <li class="tool-tct-automatic_thought">{{ entry.automatic_thought }}</li>
                <li class="tool-tct-cognitive_distortions">
                    <ul>
                        {% for distortion in entry.cognitive_distortions.all %}
                            <li>{{ distortion.name }}</li>
                        {% empty %}
                            <li>None selected</li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="tool-tct-rational_response">{{ entry.rational_response }}</li>
                <li class="tool-tct-delete-entry">
                    <form action="{% url tools:triplecolumn-delete entry.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="button bad-button" value="{% trans 'Remove' %}" onclick="return confirm('{% trans 'Are you sure?' %}')" />
                    </form>
                </li>
            </ul>
            <div class="break" />
        </li>
    {% empty %}
        <li>No entries yet.<li>
    {% endfor %}
</ul>
{% endblock %}
