{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans 'Two-column sheets' %}</h2>
<p>{% blocktrans %}A sheet with two columns, where you name the columns yourself. Try for instance with a 'destructive' column and a 'constructive' column to debate an issue with your self.{% endblocktrans %}</p>
<a href="{% url tools:twocolumn-create %}" class="button">{% trans 'New sheet' %}</a>

<h3>{% trans 'My sheets' %}</h3>
<ul class='tool-table'>
    {% for sheet in sheets %}
        <li>
            <ul class='tool-table-row'>
                <li class='tool-twocolumn-name'>
                    <a href="{% url tools:twocolumn-view sheet.id %}">{{ sheet.name }}</a>
                </li>
                <li class="tool-delete">
                    <form action="{% url tools:twocolumn-delete sheet.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="button bad-button" value="{% trans 'Remove' %}" onclick="return confirm('{% trans 'Are you sure?' %}')" />
                    </form>
                </li>
            </ul>
        </li>
    {% empty %}
        <li>{% trans 'No two-column sheets yet.' %}</li>
    {% endfor %}
</ul>
{% endblock %}
