{% load static %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{% get_static_prefix %}/style.css" />
    <title>{% block title %}Feelgood{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
            <h1>Feelgood.</h1>
            {% if user.is_authenticated %}
            <ul class="main-menu">
                <li><a class="{% if current_page == 'dashboard' %}current{% endif %}" 
                       href="{% url landing:index %}">{% trans 'Dashboard' %}</a></li>
                
                <lh>{% trans 'Tests' %}</lh>
                <li><a class="{% if current_page == 'depression' %}current{% endif %}" 
                       href="{% url tools:bdc-index %}">{% trans 'Depression' %}</a></li>
                <li><a class="{% if current_page == 'anger' %}current{% endif %}" 
                       href="{% url tools:nas-index %}">{% trans 'Anger' %}</a></li>
                
                <lh>{% trans 'Tools' %}</lh>
                <li><a class="{% if current_page == 'automatic_thoughts' %}current{% endif %}" 
                       href="{% url tools:triplecolumn-index %}">{% trans 'Automatic thoughts' %}</a></li>
                <li><a class="{% if current_page == 'two_column_sheets' %}current{% endif %}" 
                       href="{% url tools:twocolumn-index %}">{% trans 'Two-column sheets' %}</a></li>
            </ul>
            <div class="footer">
                <a href="{% url landing:logout %}">{% trans 'Sign out' %}</a>
            </div>
            {% else %}
            <p>{% blocktrans %}A free resource to help you fight depression.{% endblocktrans %}</p>
            {% endif %}
        {% endblock %}
    </div>

    <div id="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div class="break"></div>
    </div>
</body>
</html>
