{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h2>You are logged in.</h2>
{% else %}
    <h2>Login</h2>
    <form action="{% url landing:login %}" method="post">
      {% csrf_token %}
      {{ login_form.as_p }}
      <input type="submit" value="Login" />
    </form>

    <h2>Create account</h2>
    <form action="{% url landing:registration %}" method="post">
      {% csrf_token %}
      {{ registration_form.as_p }}
      <input type="submit" value="Create account" />
    </form>
{% endif %}
{% endblock %}

